.title-main {
    text-align: center;
}

.errors {
    display: inline-block;
}

#contact-table-caption, #contact-detail-caption, #contact-edit-caption {
    caption-side: top;
}

.contacts-wrapper {
    display: grid;
    grid-template-columns: auto 25px auto auto;
}

.js-show-add-contact-form, .js-save-contact {
    float: right;
}

.contact-form {
    display: none;
}

.js-show-edit-contact-form {
    margin-left: 10px;
}
